@page "/blog"
@inject MasaBlazor MasaBlazor
@inject BlogService BlogService
<PageTitle>blog</PageTitle>
<MApp Id="inspire">
    <MMain Class="grey lighten-3">
        <MCard>
            <MTabs BackgroundColor="red accent-4" FixedTabs Dark>
                <MTab>广告位招租</MTab>
                <MTab>广告位招租</MTab>
                <MTab>广告位招租</MTab>
                <MTab>广告位招租</MTab>
            </MTabs>
        </MCard>
        <MContainer>
            <MRow Class="justify-center">
                <MCol Cols="12" Sm="12">
                    <MSheet Rounded=@("xl") Style="background-color: rgba(255, 255, 255, 0.5);" Elevation="8">
                        <div style="background-color: rgba(255, 255, 255, 0); padding: 32px;">
                            <p style="text-align: center;">
                                <img src="atama.gif" style="width: 300px; height: auto;" />
                            </p>
                            <ul>
                                <!-- 包裹所有 <li> 元素 -->
                                @if (blogs == null)
                                {
                                    <li>Loading...</li>
                                }
                                else if (!blogs.Any())
                                {
                                    <li>No blogs found for this category.</li>
                                }
                                else
                                {
                                    @foreach (var blog in blogs)

                                    {
                                        <li>@blog.Title</li>
                                    }
                                }
                            </ul>
                        </div>
                    </MSheet>
                    <br />
                </MCol>
            </MRow>
        </MContainer>
    </MMain>
</MApp>
<MFooter>
    <a href="https://beian.miit.gov.cn/" target="_blank" style="display:block; margin-left:auto; color:black;font-size:16px; text-decoration: none;">蒙ICP备2024018457号-1</a>
</MFooter>

@code {
    private List<BlogDto> blogs = new List<BlogDto>();

    protected override async Task OnParametersSetAsync()
    {
        // 获取博客文章
        blogs = await BlogService.GetBlogsAsync();
    }
}